/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
  box-sizing: border-box;
  font: inherit;
}

html{
  font-size: 18px;
}

body{
  font-family: 'Shadows Into Light', sans-serif; 
}

main{
  h1{
    font-family: 'Staatliches', sans-serif;
  }
  h2{
    font-family: 'Staatliches', sans-serif;
  }
  h3{
    font-family: 'Staatliches', sans-serif;
  }
  h4{
    font-family: 'Staatliches', sans-serif;
  }
  h5{
    font-family: 'Staatliches', sans-serif;
  }
}
