/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@import "bulma";

body{
  background-color: black;
}

.site-container{
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.banner{
  background: url('emo_again.jpg');
  background-size: 125% 65vh;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
}

.content{
  background-color: white;
  height:65vh;
  width: 100%;
}

.input-form{
  width: 40%;
  margin-left: 30%;
  margin-right: auto;
}

.input, textarea{
  margin-bottom: 3px;
}

.all-posts{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title{
  font-family: 'Shadows Into Light', sans-serif;
  text-align: center;
  margin-left: auto;
}

h1, h2, h3, h4, h5, a{
  font-family: 'Staatliches', sans-serif;
}

h1{
  margin-left: 10%;
}

h1[class='title']{
  font-size: 48px;
}

a{
  color: black;
}

a, a:visited{
  text-decoration: none;
}

a:visited{
  color: grey;
}


a:hover{
  text-decoration: underline;
  color: red;
}


.users{
  font-family: 'Shadows Into Light', sans-serif;

  ul{
    list-style: none;
  }

  li{
    display: block;
    width: 80%;
    padding: 1em;
    border: 1px solid grey;
    font-size: 24px;
  }

}
