/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
  box-sizing: border-box;
  // font: inherit;
}

// html{
//   font-size: 18px;
// }

// body{
//   font-family: 'Shadows Into Light', sans-serif;
// }


h1, h2, h3, h4, h5, a{
  font-family: 'Staatliches', sans-serif;
}

a{
  color: black;
}

a, a:visited{
  text-decoration: none;
}

a:visited{
  color: grey;
}


a:hover{
  text-decoration: underline;
  color: red;
}


.users{
  font-family: 'Shadows Into Light', sans-serif;

  ul{
    list-style: none;
  }

  li{
    display: block;
    width: 80%;
    padding: 1em;
    border: 1px solid grey;
    font-size: 24px;
  }

}
