<h1><%= @post.title %></h1>
<div class="content">
  <iframe width="560" height="315" src="<%= @post.video%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <p><%= @post.content%></p>
</div>
